.Search_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:25vh;
width:96vw;
margin-top:20vh;
}

.main_container{
    margin-top: 10vh;
    margin-left:1vw;
    margin-right:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width:98vw;
    /* background-color: rgba(218,216,216,0.326); */
    padding-bottom: 3%;
    padding-top: 1%;
}

h1{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}
