.barlist-container {
    position: relative;
    /* margin-top:30px; */
  }
  
  .overlay-box {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2)!important;
    z-index: 100000; 
  }