.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    margin-right: auto;
}

.navbar_comp{
    width:100vw;
}
.navbar-nav {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.dropdown {
    margin-left: 10px;
}

.offcanvas .nav{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:100%
} 


.offcanvas-header {
    padding: 0.5rem 1rem;
    background-color: #ffffff91;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  
}
.offcanvas-body{
    background-color: #313136e0!important;
    /* background-color: #062f5b; */
    color:#fff;
}
.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.offcanvas-body .nav-category {
    font-size:1rem;
    font-weight: 700;
    color: #9aa8b4;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    pointer-events: none;
}

.offcanvas-body .title{
    font-weight:700;
    pointer-events: none;
    color: #007bff;
    font-size: larger;
}

.offcanvas-body .nav-item {
    padding: 1rem 1rem;
    width:100%;
    border-radius:0.25 rem;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}


.offcanvas-body .nav-item:hover {
    box-shadow: 0px 2px 2px rgba(241, 238, 238, 0.954);
    background-color: rgba(0, 0, 0, 0.050);
    cursor:pointer;
}

.offcanvas-body .btn-close {
    float: right;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
