.form-container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    }
    .border {
        border: 1px solid #ced4da; 
        border-radius: 0.25rem; 
    }
    
    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    }

    .logo1{
        text-align: center;
        margin-top: 35px;
        color:#047ef9;
        text-decoration:none;
    }
    .homeredirect:hover{
        color: red;
         text-decoration: underline ;
      }