
.usertable_container{
    width:100vh;
    margin:20vh auto;
}
.usertable_container table {
    margin:3rem auto;
     width:80vh;
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    padding:3rem 5rem;
    background-color:white;
    border-collapse:collapse;

  }
  
  
  .usertable_container th{
    background-color: #f5f5f5;
    padding:10px;
    text-align: center;
    font-weight: bold;
    border-bottom:1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }

  .usertable_container td{
    padding:20px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }
 
  


  