.search-container {
    margin-bottom: 20px; /* Adjust the margin value as per your requirement */
  }

  .link{
    margin:10px 10px;
    padding:10px 10px;
    cursor:pointer;
   }
   
   .link a:hover{
       color:red;
       text-decoration:underline;
   }
     