.container {
    margin: 50px auto;
    max-width: 600px;
  }
  .border {
    border: 1px solid #ced4da; 
    border-radius: 0.25rem; 
  }
  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
  }
.deleted{
    margin:1em;
}