 .user-update-container{
    margin:20vh auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    padding:5rem 7rem;
    background-color:white;
   
}
.user_update{
    width:50vh;
    justify-content: center;
    align-items: center;
    padding:4rem;
    background-color: rgba(254, 254, 254, 0.555);
    border: 1px solid rgba(108, 110, 118, 0.799);
    border-radius: 5px;
    padding: 50px;
    padding-bottom: 70px;
}
.h2{
    margin-bottom: 3rem;
}

.form-container {  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
 